In [4]:
import pandas as pd

# Load the dataset from a CSV file
file_path = 'dataset/main.csv'  # Update the path to your actual file location
df = pd.read_csv(file_path)

# Display the first few rows
df.head()

   total_amount  day  hour  trip_duration  trip_distance
0          22.7    0     0      19.800000           1.72
1          22.5    0     0       6.600000           1.80
2          34.3    0     0      17.916667           4.70
3          19.0    0     0       8.300000           1.40
4          19.3    0     0       6.100000           0.80

In [5]:
# Drop rows with any missing values
df.dropna(inplace=True)

In [6]:
# Remove rows with negative fare amounts
df = df[df['total_amount'] >= 0]

In [8]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Define a function to remove outliers using IQR
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Remove outliers for 'trip_distance', 'total_amount', and 'trip_duration'
df = remove_outliers(df, 'trip_distance')
df = remove_outliers(df, 'total_amount')
df = remove_outliers(df, 'trip_duration')

In [9]:
df.head()

   total_amount  day  hour  trip_duration  trip_distance
0          22.7    0     0      19.800000           1.72
1          22.5    0     0       6.600000           1.80
3          19.0    0     0       8.300000           1.40
4          19.3    0     0       6.100000           0.80
9           8.0    0     0       1.133333           0.04

In [1]:
# Define the number of samples to use for training
n_samples = 500  # Update this to the desired number of samples

# Take a random sample of the cleaned dataset
df = df.sample(n=n_samples, random_state=42)

# Define the features and target variable
features = ['day', 'hour', 'trip_duration', 'trip_distance']
target = 'total_amount'

# Scale the features
scaler = StandardScaler()
df[features] = scaler.fit_transform(df[features])

# Define the features (X) and the target variable (y)
X = df[features]
y = df[target]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Predict on the test set
y_pred = rf_model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)

print(f"Mean Absolute Error: {mae}")
print(f"Root Mean Squared Error: {rmse}")

NameError: name 'df' is not defined